# Ignore Vundle's bundle directory.
bundle

# Do not track local / sensitive configuration settings.
LOCAL

# History file for netrw?  This should be a local cache.
.netrwhist

# Do not track session file.
Session.vim

# Backup files
*~
